ALLOWED_ORIGIN=http://localhost:3000
POSTGRES_CONNECTION_STRING=postgres://app_user:password@localhost:5432/finance_calculator?sslmode=disable
ACCESS_SECRET=DEVENVIRONMENTSECRET
REFRESH_SECRET=DEVENVREFRESHSECRET
ENV=develop
